body {
    padding-top: 70px;
}

h1, h2, h3, h4, h5, ul, li, a, p {
    font-family: 'Noto Sans', sans-serif;
    color: #808080;
}

h1 {
    font-weight: 400;
}

h2 {
    font-size: 18pt;
    font-weight: 600;
    color: #58b0a7;
}

h3 {
    color: #585858;
    font-weight: 600;
}

h4 {
    color: #585858;
    font-size: 12pt;
    font-weight: 600;
}

@media (min-width: 768px) {

    #site-nav .container-fluid  {
        margin-left: 75px;
        margin-right: 75px;
    } 

    #site-nav .navbar-brand {
        margin-right: 60px;
    }
}

#site-nav .navbar-brand img {
    height: 22px;
    width: 22px;
}

.navbar-default {
    background-color: #FFF;
}

#site-nav {
    -webkit-box-shadow: 0px 0px 8px #7E7E7E;
    -moz-box-shadow: 0px 0px 8px #7E7E7E;
    box-shadow: 0px 0px 8px #7E7E7E;
    z-index:999;
}

#site-nav a:hover {
    color: #58b0a7;
}

.navbar-nav li a:hover, .navbar-nav li a:active {
    border-bottom: 3px solid #58b0a7;
}

.header {
    padding-top: 48px;
    padding-bottom: 48px;
    margin: 0;
    position: relative;
}

.header-image {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/brand.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px 200px;
    position: absolute;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    opacity: 0.2;
}

#portfolio-container {
    padding-bottom: 100px;
}

#portfolio-nav {
    padding-top: 10px;
    padding-bottom: 30px;
}

.nav-pills li.active a, .nav-pills li.active a:hover, .nav-pills li.active a:focus {
    background-color: #58b0a7;
    border: 2px solid white;
    -webkit-box-shadow: 0px 0px 0px #E8E8E8;
    -moz-box-shadow: 0px 0px 0px #E8E8E8;
    box-shadow: 2px 2px 4px #E8E8E8;
    z-index:999;
}

.nav-pills li a {
    color: #000;
    margin-left:25px;
    margin-right:27px;
    border: 1px solid black;
    border-radius: 0;
    -moz-border-radius: 0;
}

/* Text over image thumbnails */
.tab-content a {
    display: inline-block;
}

.tab-content .col-md-6 {
    position: relative;
    margin-bottom: 20px;
}

.thumbnail-image-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.footer .bio-photo {
    position: relative;
}

.footer img {
    position: absolute;
    top: -130px;
    border-radius: 50%;
    border: 3px solid white;
}

@media (max-width: 768px) {

    .footer img {
        position: absolute;
        top: -350px;
        border-radius: 50%;
        border: 3px solid white;
        left: 0;
        margin-left: 28%;
    }

}

/* footer style */
.footer {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #58b0a7;
}

.footer h4 {
    text-transform: uppercase;
}

.footer p {
    color: #FFF;
}

