h1, h2, h5 {
    color: #FFF;
}

h3, h4 {
    color: #785790;
}

p, ul, li {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
}

a {
    text-decoration: underline;
    color: #cc8595;
}

/* STYLES */

.centered {
    text-align: center;
}

.right-align {
    text-align: right;
}

.white {
    color: #FFF;
}

/* INDEX */

.index-bg {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* MEDIA QUERIES */

@media (max-width: 700px) {
    .header {
        padding: 20% 0 18% 0;
    }
    h1 {
        font-size: 24pt;
    }
}

@media (min-width: 700px) {
    .header {
        padding-top: 14%;
        padding-bottom: 12%;
    }
}

.header img {
    max-width: 100px;
}

/* PORTFOLIO */

.portfolio {
    background-color: #F7F7F7;
    /* padding: 0 80px; */
}

.portfolio h3.title {
    padding: 2rem 0;
}

.portfolio-thumbnail {
    position: relative;
    overflow: hidden;
    border: 1px solid #999;
    margin: 20px;
}

.portfolio-thumbnail:hover {
    border: 1px solid #FFF;
}

.portfolio .col-md-6 {
    max-width: 448px;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    color: #785790;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s;
}

.caption .caption-text {
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    width: 100%;
    top: 30%;
    left: 0;
}

.caption .caption-text h1 {
    color: #785790;
    text-shadow: none;
}

.caption .caption-text h3 {
    margin: 10px 0 5% 0;
}

.caption .caption-text p {
    margin: 0 10% 0 10%;
}

.portfolio-thumbnail a img {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.2;
    transition: opacity 0.3s;
}

.portfolio-thumbnail:hover a img {
    opacity: 1;
}

.portfolio-thumbnail:hover .caption {
    opacity: 0;
}

.portfolio-note {
    padding-top: 7%;
    padding-bottom: 10%;
    color: #785790;
}

.portfolio-note a {
    color: #cc8595;
    font-weight: 700;
}

/* ABOUT ME */

.aboutme-bg {
    background: url(../images/aboutme_bg.png) no-repeat center center;
    background-size: cover;
}

 .aboutme-header {
    padding: 17rem 0 5rem 0;
    /* padding-bottom: 30px; */
}

.aboutme {
    padding: 0 0 280px 0;
}

.aboutme p {
    color: #785790;
    padding: 1rem 0;
}

/* FOOTER */

#footer {
    color: #FFF;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding-top: 3%;
}

#footer .col-md-6 {
    margin-bottom: 3rem;
}

#footer ul {
    list-style: none;
}

#footer a {
    color: #FFF;
}

#footer .icons a {
    text-decoration: none;
}

#footer .icons .fa-inverse {
    color: #333;
}

#footer .icons li {
    display: inline;
}

.copyright {
    padding-top: 1rem;
}

.copyright p {
    font-size: 10pt;
}
