<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Featured Work</h5>
                <ul>
                    <li><a href="/portfolio/Lets-work.html">Let's Work // UX &amp; UI Design</a></li>
                    <li><a href="/portfolio/TheLIFTLAB.html">THE LIFTLAB // Branding &amp; Web Development</a></li>
                    <li><a href="/portfolio/Illustrations.html">Illustrations // 3D Modeling &amp; Illustration</a></li>
                    <li><a href="/portfolio/BAMcinemaFest.html">BAMcinemaFest // UX &amp; UI Design</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h5>About Me</h5>
                <ul>
                    <li><a href="/aboutme.html">About Me</a></li>
                    <li><a href="#">Resume</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Contact</h5>
                <ul>
                    <li><a href="#">sara.ann.stewart@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h5>Follow Me</h5>
                <ul class ="icons">
                    <li>
                        <a href="#">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-behance fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <p class="right-align">&copy; Sara Stewart 2015</p>
    </div>
</footer>
