<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index.html">Sara Stewart</a>
    </div>
    <div class="collapse navbar-collapse" id="mobile-drop-down">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Work <b class="caret"></b></a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="/portfolio/Lets-work.html">Let's Work (UX &amp; UI Design)</a></li>
                  <li><a href="/portfolio/TheLIFTLAB.html">The LIFTLAB (Web Development &amp; Branding)</a></li>
                  <li><a href="/portfolio/Illustrations.html">Illustrations (3D Modeling &amp; Illustration)</a></li>
                  <li><a href="/portfolio/BAMcinemaFest.html">BAMcinemaFest (UX &amp; UI Design)</a></li>
                </ul>
            </li>
            <li><a href="/aboutme.html">About</a>
            <li><a href="#">Resume</a>
        </ul>
    </div>
  </div>
</nav>
