---
layout: default
---

<div class="project-bg-3">
	<div class="project-header">
	    <div class="container">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description|markdownify }}</p>
	    </div>
	</div>

	<div class="container project-container">
		<div class="col-md-12 project-content">
			<h3 class="centered">Nephron</h3>
			<img class="img-responsive center-block" src="../images/project3/nephron.png">
			<h3 class="centered">Hemoglobin</h3>
			<img class="img-responsive center-block" src="../images/project3/hemoglobin.png">
			<h3 class="centered">Eye Anatomy</h3>
			<img class="img-responsive center-block" src="../images/project3/eye.png">
			<h3 class="centered">Sleep vs Sedation</h3>
			<img class="img-responsive center-block" src="../images/project3/sleep_sedation.png">
			<h3 class="centered">Lungs &amp; Aveoli</h3>
			<img class="img-responsive center-block" src="../images/project3/lungs.png">
			<h3 class="centered">Immune Cells</h3>
			<img class="img-responsive center-block" src="../images/project3/immune_cells.png">
			<h3 class="centered">Neovascularization</h3>
			<img class="img-responsive center-block" src="../images/project3/neo.png">
			<h3 class="centered">Intestinal Ulcer</h3>
			<img class="img-responsive center-block" src="../images/project3/intestinal_ulcer.png">
			<h3 class="centered">Stomach Ulcer</h3>
			<img class="img-responsive center-block" src="../images/project3/stomach_ulcer.png">
			<h3 class="centered">Lateral Skull</h3>
			<img class="img-responsive center-block" src="../images/project3/lateral_skull.png">
			<h3 class="centered">Owl</h3>
			<img class="img-responsive center-block" src="../images/project3/owl.png">
			<h3 class="centered">Self-portrait</h3>
			<img class="img-responsive center-block" src="../images/project3/scratchboard.png">
		</div>
	</div>
</div>

