---
layout: default
---

<div class="project-bg-3">
	<div class="project-header">
	    <div class="container">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description|markdownify }}</p>
	    </div>
	</div>

	<div class="container project-container">
		<div role="tabpanel">

			<!-- Nav tabs -->
			<ul class="nav nav-pills nav-justified project-pills" role="pilllist">
				<li role="presentation" class="active">
					<a href="#3D-renderings" aria-controls="3D-renderings" role="tab" data-toggle="tab"><h5>3D Renderings</h5></a></li>
				<li role="presentation">
					<a href="#digital-illustration" aria-controls="digital-illustration" role="tab" data-toggle="tab"><h5>Digital Illustration</h5></a></li>
				<li role="presentation">
					<a href="#traditional" aria-controls="traditional" role="tab" data-toggle="tab"><h5>Traditional</h5></a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content project-content centered">
				<div role="tabpanel" class="col-md-12 tab-pane active" id="3D-renderings">
					<h3>Nephron</h3>
					<img class="img-responsive center-block" src="../images/project3/nephron.png">
					<h3>Hemoglobin</h3>
					<img class="img-responsive center-block" src="../images/project3/hemoglobin.png">
					<h3>Diabetic &amp; Dislipidemia Vessels</h3>
					<img class="img-responsive center-block" src="../images/project3/diabetic_dislip_vessel.png">
					<h3>Eye Anatomy</h3>
					<img class="img-responsive center-block" src="../images/project3/eye.png">
					<h3>Diseased Liver</h3>
					<img class="img-responsive center-block" src="../images/project3/diseased_liver.png">
					<h3>Sleep vs Sedation</h3>
					<img class="img-responsive center-block" src="../images/project3/sleep_sedation.png">
				</div>
				<div role="tabpanel" class="tab-pane" id="digital-illustration">
					<h3>Lungs &amp; Aveoli</h3>
					<img class="img-responsive center-block" src="../images/project3/lungs.png">
					<h3>Nephron</h3>
					<img class="img-responsive center-block" src="../images/project3/nephron.png">
				</div>
				<div role="tabpanel" class="tab-pane" id="traditional">
					<h3>Style Guide</h3>
					<img class="img-responsive" src="../images/project1/identity_1.png">
					<h3>Mood Board</h3>
					<img class="img-responsive" src="../images/project1/identity_2.png">
				</div>
			</div>

		</div>
	</div>
</div>

