---
layout: default
---

<div class="project-bg-3">
	<div class="project-header">
	    <div class="container">
            <h1>{{ page.title }}</h1>
            <h3>{{ page.role }}</h3>
            <p>{{ page.description|markdownify }}</p>
	    </div>
	</div>

	<div class="container project-container">
		<div role="tabpanel">

			<!-- Nav tabs -->
			<ul class="nav nav-pills nav-justified project-pills" role="pilllist">
				<li role="presentation" class="active"><a href="#deliverables" aria-controls="deliverables" role="tab" data-toggle="tab"><h5>Deliverables</h5></a></li>
				<li role="presentation"><a href="#process" aria-controls="process" role="tab" data-toggle="tab"><h5>Process</h5></a></li>
				<li role="presentation"><a href="#identity" aria-controls="identity" role="tab" data-toggle="tab"><h5>Brand Identity</h5></a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content project-content centered">
				<div role="tabpanel" class="col-md-12 tab-pane active" id="deliverables">
					<h3>High-Fidelity User Interfaces</h3>
					<img class="img-responsive" src="../images/project1/deliverables_1.png">
				</div>
				<div role="tabpanel" class="tab-pane" id="process">
					<h3>Brand Research</h3>
					<img class="img-responsive" src="../images/project1/process_1.png">
					<h3>Inspiration &amp; Competitor Products</h3>
					<img class="img-responsive" src="../images/project1/process_2.png">
					<h3>Low-Fideltiy Annotated Wireframes</h3>
					<img class="img-responsive" src="../images/project1/process_3.png">
				</div>
				<div role="tabpanel" class="tab-pane" id="identity">
					<h3>Style Guide</h3>
					<img class="img-responsive" src="../images/project1/identity_1.png">
					<h3>Mood Board</h3>
					<img class="img-responsive" src="../images/project1/identity_2.png">
				</div>
			</div>

		</div>
	</div>
</div>

