---
layout: default
---

<div class="project-bg-1">
	<div class="project-header">
	    <div class="container">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description|markdownify }}</p>
	    </div>
	</div>

	<div class="container project-container">
		<div class="col-md-12 project-content">
					<h3 class="centered">Problem</h3>
					<p class="centered"><strong>How do we make it easier for patients to find the right doctors on NYULanogne.org?</strong>
					
					<h3 class="centered">Usability Testing</h3>
					<p><strong>To help us better understand our key usability issues, I created user stories and ran tests on the current Find a Doctor website.</strong></p>
					<p>"It’s not a bad page, if you know exactly what you’re looking for... maybe the Conditions and Find a Doctor page could sort of be one super page, where you can just type in hernia and then you know, you can find a doctor. Could be easier."</p>

					<h3 class="centered">Key Usability Issues</h3>
					<ul>
						<li>Patients defaulted to searching by Specialty</li>
						<li>Searching by Condition brought them to a different part of the website</li>
						<li>Search only worked on exact matches to a user's search query</li>
						<li>You could not sort doctors by online scheduling availability</li>
						<li>You could not search by treatment</li>
						<li>You could not serach by location</li>
					</ul>
					
					<h3 class="centered">Wireframes</h3>
					<p><strong>I worked with stakeholders to redesign both the way that you search for doctors, and how you filter the results. This redesign took into account all devices, as NYULangone has a high mobile presence.</strong></p>
					<p>We wanted to have users search for the appropriate specialty, condition, treatment or name first, before providing filters. That is why the single searchbox is the new focal point of the Find a Doctor page and module. After the initial search, insurance and location are shown as the highest priority filters on the results page.</p>

					<img class="img-responsive center-block" src="../images/project1/FaD-desktop-wireframe1.png">
					<img class="img-responsive center-block" src="../images/project1/FaD-desktop-wireframe2.png">
					<img class="img-responsive center-block" src="../images/project1/FaD-mobile-wireframe1.png">

					<h3 class="centered">Final Designs &amp; Prototypes</h3>
					<p>Using the approved wireframes as a framework I created the final UI in Sketch. In order to test our designs, provide context for the developers, and socialize these improvements across the company I created interactive protoypes of the new Find a Doctor. You can play with them below.</p>

					<div style="text-align:center"><iframe src="https://marvelapp.com/j2a9fh?emb=1" width="960" height="699" allowTransparency="true" frameborder="0"></iframe></div>

					<div style="text-align:center; margin-top:60px"><iframe src="https://marvelapp.com/j2efd0?emb=1" width="300" height="600" allowTransparency="true" frameborder="0"></iframe></div>

					<h3 class="centered">Project Summary</h3>
					<p>After implementation I interviewed and sent surveys to users at the call center. The feedback they gave me was invaluable. It was great to hear about how these improvements could help make their jobs easier, as well as to hear about their pain points that still existed.</p>

					<p>Analytics were a key part of this development process, and future insights. We want to make sure that we measure the success of our solutions with data.</p>

					<h3 class="centered">Future Enhancements</h3>
					<p>Some features had to be cut for the MVP and initial launch. These will be added in the next release.</p>
					<ul>
						<li>Ability to search by neighborhood</li>
						<li>Pediatric filter</li>
						<li>Spelling assist (spellcheck in search)</li>
						<li>Synonoms for Specialties</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>

