---
layout: default
---

<div class="project-bg-2">
	<div class="project-header">
	    <div class="container">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description|markdownify }}</p>
	    </div>
	</div>

	<div class="container project-container">
		<div class="col-md-12 project-content">
			<h3 class="centered">Design Challenge</h3>
			<p class="centered"><strong>How might we improve educational experiences for new immigrants and refugees?</strong>
				<h3 class="centered">Inspiration Phase</h3>
				<p><strong>Within this phase we:</strong></p>
				<ul>
					<li>Formed a team with a diverse set of backgrounds from the community XX+UX</li>
					<li>Selected our design challenge</li>
					<li>Researched established methods, classes and communities</li>
					<li>Created a set of interview questions and an online survey</li>
					<li>Established our incoming assumptions</li>
					<li>Interviewed experts, immigrants and sat in on classes</li>
				</ul>
				<img class="img-responsive center-block" src="../images/project2/inspiration.png">

				<h3 class="centered">Ideation Phase</h3>
				<p><strong>Within this phase we:</strong></p>
				<ul>
					<li>Shared all our insights from interviews and observation</li>
					<li>Formed common themes</li>
					<li>Created insight statements</li>
					<li>Explored design opportunities through “How Might We…” statements</li>
					<li>Brainstormed solutions</li>
					<li>Determined what to prototype</li>
					<li>Created a storyboard</li>
				</ul>
				<img class="img-responsive center-block" src="../images/project2/ideation.png">

				<p><strong>Key themes discovered through interviews:</strong></p>
				<ul>
					<li><strong>Building A Community:</strong> Religious and community centers are common points of support, as learning about the experiences of other immigrants and sharing resources is invaluable for assimilation.</li>
					<li><strong>We’re Not In English Class Anymore:</strong> Regardless of English speaking level, most immigrants struggle with confidence in their speaking ability - “textbook English” is very different from slang-laden, day-to-day English.</li>
					<li><strong>A Transferrable Skill?:</strong> Language limitations and cultural differences make the job search process a struggle. Questions on job applications do not always translate and interview processes are misunderstood.</li>
				</ul>
				<p><strong>“How might we…” design opportunities:</strong></p>
				<ul>
					<li>How might we design a context for immigrants to practice English skills in a practical, applied way for everyday life?</li>
					<li>How might we create a centralized platform that disseminates information through organizations that immigrants rely on?</li>
					<li><strong>How might we lessen the difficulty for immigrants to understand the application process and successfully obtain a job?</strong></li>
				</ul>
				<img class="img-responsive center-block" src="../images/project2/ideation2.png">
				<p>After brainstorming solutions, and deciding on our product, we began creating a visual storyboard and initial prototype.</p>

				<h3 class="centered">Implementation Phase</h3>
				<p><strong>Within this phase we:</strong></p>
				<ul>
					<li>Formed a team with a diverse set of backgrounds from the community XX+UX</li>
					<li>Created and tested a prototype</li>
					<li>Developed a pitch</li>
					<li>Explored funding opportunities and plans for distribution</li>
					<li>Updated the prototype</li>
					<li>Reflected on our process</li>
				</ul>
				<img class="img-responsive center-block" src="../images/project2/implementation.png">
				<p>Using our storyboard I created the initial clickable prototype and began user testing.</p>
				<h3 class="centered">Initial Prototype</h3>
				<p>After interviewing recent immigrants, experts within Catholic Charities, and pulling in results from our online survey, we created an initial prototype of our product; a mobile application that acts as both a reference guide and learning tool for immigrants who need an entry-level job.
				<img class="img-responsive center-block" style="margin-top:30px; margin-bottom:30px" src="../images/project2/initial_prototype.png">
				<p>The MVP gave us valuable insight into how immigrants would respond to the application. Overall we had very positive feedback, but received insightful ways to improve the application. We conducted user testing with one member directing the user, while the other took notes.</p>

				<h3 class="centered">Updated Prototype</h3>
				<p>Using the feedback we gained from user testing we re-evaluated the flow of the application and added new sections, including an introduction to better explain the purpose of the application to the user.
				<img class="img-responsive center-block" style="margin-top:30px" src="../images/project2/latest_prototype.png">
	</div>
</div>
