---
layout: default
---

<div class="project-bg-1">
	<div class="project-header">
	    <div class="container">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description|markdownify }}</p>
	    </div>
	</div>

	<div class="container project-container">
		<div role="tabpanel">

			<!-- Nav tabs -->
			<ul class="nav nav-pills nav-justified project-pills" role="pilllist">
				<li role="presentation" class="active"><a href="#prototypes" aria-controls="prototypes" role="tab" data-toggle="tab"><h5>Prototypes</h5></a></li>
				<li role="presentation"><a href="#process" aria-controls="process" role="tab" data-toggle="tab"><h5>Process</h5></a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content project-content centered">
				<div role="tabpanel" class="col-md-12 tab-pane active" id="prototypes">
					<h3>Initial Prototype</h3>
					<p>I initally created a prototype using Marvel App to take pictures of wireframes we had drawn up on the whiteboard. This worked well for initial user testing to get great feedback.</p>
					<img class="img-responsive center-block" src="../images/project1/initial_prototype.png">
					<h3>Latest Prototype</h3>
					<img class="img-responsive center-block" src="../images/project1/deliverables_1.png">
				</div>
				<div role="tabpanel" class="tab-pane" id="process">
					<h3></h3>
					<div class="google-slides">
						<iframe src="https://docs.google.com/presentation/d/1NpLGDpSnuDjA2INHTSlsyNPKzGyAvdIKTUF2A8kITzs/embed?start=false&amp;loop=false&amp;delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

