---
layout: default
---

<div class="project-bg-2">
	<div class="project-header">
	    <div class="container">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description|markdownify }}</p>
	    </div>
	</div>

	<div class="container project-container">
		<div role="tabpanel">

			<!-- Nav tabs -->
			<ul class="nav nav-pills nav-justified project-pills" role="pilllist">
				<li role="presentation" class="active"><a href="#graphic-design" aria-controls="graphic-design" role="tab" data-toggle="tab"><h5>Graphic Design</h5></a></li>
				<li role="presentation"><a href="#illustrations" aria-controls="illustations" role="tab" data-toggle="tab"><h5>Illustrations</h5></a></li>
				<li role="presentation"><a href="#web-development" aria-controls="web-development" role="tab" data-toggle="tab"><h5>Web Development</h5></a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content project-content centered">
				<div role="tabpanel" class="col-md-12 tab-pane active" id="graphic-design">
					<h3>MedAesthetics Magazine Ad</h3>
					<img class="img-responsive center-block" src="../images/project2/ll_med_ad.png">
					<h3>E-blasts</h3>
					<img class="img-responsive center-block" src="../images/project2/lloyalty_eblast.png">
					<img class="img-responsive center-block" src="../images/project2/travelset_ll_loyalty_eblast.png">
					<h3>Sell Sheet</h3>
					<img class="img-responsive center-block" src="../images/project2/ll_sellsheet.png">
				</div>
				<div role="tabpanel" class="tab-pane" id="illustrations">
					<h3>Anti-freeze protein cellular mechanism of action</h3>
					<img class="img-responsive center-block" src="../images/project2/ll_moa_sketch.png">
					<img class="img-responsive center-block" src="../images/project2/ll_moa.png">
					<h3>Anti-freeze proteins</h3>
					<img class="img-responsive center-block" src="../images/project2/ll_afps.png">
				</div>
				<div role="tabpanel" class="tab-pane" id="web-development">
					<h3>Maintain the Website</h3>
					<p>I update banners, products, promotions, and content. I also troubleshoot any problems that arise from past development.<p>
					<h3>Loyalty Program</h3>
					<p>I recently lauched a loyalty program using the app sweet tooth. I provided a custom link on the website, created associated banners, eblasts and other promotional materials, as well as customized the application as per client needs.</p>
					<h3>Physician-side Website</h3>
					<p>I've currently been working on creating, designing, and implementing a physican-side to the website. This portion of the site would include my mechanism of action illustration, clinical data and trials along with more technical verbiage in describing the proudcts.</p>
				</div>
			</div>

		</div>
	</div>
</div>

