---
layout: default
---

<div class="project">
	<div class="project-header">
	    <div class="container">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description|markdownify }}</p>
	    </div>
	</div>

	<div class="container project-container">
		<div class="col-md-12 project-content">
			<h3 class="centered">Problem</h3>
			<p class="centered">How do we leverage the power of VR in order to being an audience and creator together in a meaningfull way, that is accessible to all demographics?</p>
			<img class="img-responsive center-block" src="../images/tvrn/problem_diagram.png">
			<h3 class="centered">VR Market Validation</h3>
			<h4 class="centered">23 Million</h4>
			<p class="centered">Americans have tried VR<p>
			<h4 class="centered">30%</h4>
			<p class="centered">Online Americans aged 18 and up express a desire to try the technology</p>
			<h4 class="centered">5 Million</h4>
			<p class="centered">Google Cardboards shipped within 1.5 years post-June 2014 launch<p>
			<h4 class="centered">25 Million+</h4>
			<p class="centered">VR applications downloaded over same period from Google Play<p>
			<h3 class="centered">Solution</h3>
			<p>We created TVRN with the idea of allowing artists a custom VR space to showcase and talk about their work. The accessibility that VR allows will elevate the experience of viewing, selling, and showcasing artwork. Through TVRN, we are working on making art accessible across the globe, as well as providing artists a new type of venue to showcase their work.</p>
			<img class="img-responsive center-block" src="../images/tvrn/solution_diagram.png">
			<h3 class="centered">Technology Used</h3>
			<p>Newly-introduced web standards have brought high-performance, social Virtual Reality to the open web.</p>
			<h4 class="centered">WebVR</h4>
			<p>Compatible across mobile browsers and the gateway to mass adoption of virtual reality. Any smartphone user with a Google Cardboard or HMD owner can experience Virtual Reality simply by visiting www.tvrn.me</p>
			<h4 class="centered">WebRTC (Web Real-time Communication)</h4>
			<p>A web standard for peer-to-peer real-time communication and a web-based replacement for VoIP and video streaming. Used for real time voice communication between users.</p>
			<h4 class="centered">Firebase Backend</h4>
			<p>Accelerates development by abstracting the need for building our own backend. Used for broadcasting avatar information so users can see and interact directly with each other.</p>
			<h3 class="centered">Product Features</h3>
			<p>Immersion in VR is 10% a technology problem and 90% a design problem. The TVRN platform is meant to make presentations feel real - to give the user and presenter the feeling that they're really in this together.</p>
			<h4 class="centered">Users Can</h4>
			<ul>
				<li>See each other and the presenter</li>
				<li>Communicate with voice controls</li>
				<li>Inspect artwork displayed by the presenter</li>
			</ul>
			<h4 class="centered">Features</h4>
			<ul>
				<li>Visual indicator of who is speaking</li>
				<li>Accomodate a group of 8 users in the same room</li>
				<li>Ability for the presenter to change the environment and artwork displayed</li>
			</ul>
			<h3 class="centered">Demo Space</h3>
			<p>Will be available Dec 2016. Please follow our progress at <a href="https://www.tvrn.me">TVRN.me</p>
		</div>
	</div>
</div>
