---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <a href="{{ page.previous_project }}">Previous Project ({{ page.previous_project_title }})</a>
        </div>
        <div class="col-md-6 col-xs-6 text-right">
            <a href="{{ page.next_project }}">Next Project ({{ page.next_project_title }})</a>
        </div>
    </div>
</div>

<div class="header">
    <div class="container text-center">
        <div class="header-content">
            <h1>{{ page.title }}</h1>
            <h2>{{ page.role }}</h2>
            <p>{{ page.description|markdownify }}</p>
        </div>
    </div>
</div>

<div class="container-fluid project-images">
    {% for item in page.images %}
        <img class="img-responsive" src="{{ item }}">
    {% endfor %}
</div>

<div class="container-fluid">
    <div class="back-to-portfolio-button">
        <a class="btn btn-default" href="/index.html#portfolio" role="button">Back to Portfolio</a>
    </div>
</div>
