---
layout: default
---

<div class="project">
	<div class="project-header">
	    <div class="container">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description|markdownify }}</p>
	    </div>
	</div>

	<div class="container project-container">
		<div class="col-md-12 project-content">
			<h3 class="centered">Problem</h3>
			<p class="centered">Showcasing your artwork across the globe is difficult. Seeing 2D images of artwork on websites is not the same as seeing it as a real object. I am working on making art accessible across the globe, as well as allowing artists to have the freedom to control the environment in which to showcase their work.</p>
			<h3 class="centered">Mood Board</h3>
			<img class="img-responsive center-block" src="../images/project4/identity_2.png">
			<h3 class="centered">Style Guide</h3>
			<img class="img-responsive center-block" src="../images/project4/identity_1.png">
			<h3 class="centered">Low-Fidelity Annotated Wireframes</h3>
			<img class="img-responsive center-block" src="../images/project4/process_3.png">
			<h3 class="centered">High-Fidelity User Interfaces</h3>
			<img class="img-responsive center-block" src="../images/project4/deliverables_1.png">	
		</div>
	</div>
</div>
